@inherits LayoutComponentBase

<div class="login-layout d-flex justify-content-center align-items-center vh-100">
    <div class="login-box p-4 shadow rounded bg-purple">
        @Body
    </div>
</div>